header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 2rem;
	background: white;
	box-shadow: 0px 4px 6px 0px rgba(50,50,93,0.11) , 0px 1px 3px 0px rgba(0,0,0,0.08);
}

.left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.left img {
	width: 100px;
	border-radius: 5px;
}

.right ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.right ul li {
	margin-left: 2rem;
}

.right ul li a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px;
	color: #2cada2;
	font-size: 2rem;
}

.right ul li a:hover {
	color: #2cada2;
	transition: all 0.5s ease;
}
