.preview {
	position: relative;
	width: 100%;
	height: 100%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	overflow: auto;
	background: white;
}

.wmde-markdown hr {
	height: 2px !important;
	margin: auto !important;
	border: 2 !important;
	border-top: 2px solid #eee !important;
	background-color: #eee;
}

.wmde-markdown {
	padding: 1rem 1.6rem;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bottom button {
	height: 100%;
	padding: 0.3rem 1rem;
	border: 2px solid #2cada2;
	background: #2cada2;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 6px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom button * {
	transition: none;
}

.bottom button:hover {
	color: #2cada2;
	background: white;
}

#reset:hover::after {
	content: "Reset (Ctrl+D)";
	position: absolute;
	bottom: 65px;
	padding: 5px;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
}

#save:hover::after {
	content: "Save (Ctrl+S)";
	position: absolute;
	bottom: 65px;
	padding: 5px;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
}

#resize:hover::after {
	content: "Resize";
	position: absolute;
	bottom: 65px;
	padding: 5px;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
}

#publish:hover::after {
	content: "Pages";
	position: absolute;
	bottom: 65px;
	padding: 5px;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
}

#prin:hover::after {
	content: "Export PDF (Ctrl+P)";
	position: absolute;
	bottom: 65px;
	padding: 5px;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
}