.preview {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid #ff6d6d;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	overflow: auto;
}

.wmde-markdown hr {
	height: 2px !important;
	margin: auto !important;
	border: 2 !important;
	border-top: 2px solid #eee !important;
	background-color: #eee;
}

.wmde-markdown {
	padding: 2rem;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bottom button {
	height: 100%;
	padding: 0.3rem 1rem;
	border: 2px solid #ff6d6d;
	border-radius: 7px;
	background: none;
	color: #ff6d6d;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.bottom button:hover {
	background: #ff6d6d;
	color: white;
}
