@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&family=Ubuntu:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
	width: 8px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #8888886e;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#root {
	height: 100vh;
	background: rgb(242, 242, 242);
	background: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(226, 239, 230, 1) 100%);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.react-split__pane md_left {
	overflow: hidden;
}